<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main>
  <section>
    <% Pets.forEach(pet=>{%>
      <h1><%=pet.name  %></h1>
      <h2>Owner: <%= pet.owner %></h2>
        <h3>Vet:<%= pet.vet %></h3>
        <p>Species: <%= pet.species %></p>
        <a href="/update/<%= pet._id %>">Update</a>
        <form action="/delete/<%= pet._id  %>" method="POST">
          <button type="submit">Delete</button>
        </form>
  <%  }) %>
  </section>
</main>

</body>
</html>